mixin hello()
  - console.log('hello')

mixin formatDate(dateString) 
  - var date = new Date(dateString);
  - var monthName = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  - var d = date.getDay() + 1;
  - var m = monthName[date.getMonth()];
  - var y = date.getFullYear();
  - var output = d + ' ' + m + ' ' + y;
  =output

mixin list
  ul
  li foo
  li bar