extends layout

block content
  h1= title


  span
    | Register
  form(action='/register', method='post', role='form')
      span Email
      input(type='text', name='email', value='Email')
      
    
      span Username
      input(type='text', name='username', value='Username')
      
    
      span Password
      input(type='password', name='password', value='Password')
      
    
      span Password Confirm
      input(type='password', name='passwordConf', value='Password')
      
    
      input(type='submit', value='Register')
